html {
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, legend {
  font-family: "Cardo", serif;
  font-weight: 400;
}

header a {
  color: #dfebee;
  text-decoration: none;
}

ul {
  display: inline;
}

header {
  background-color: #056577;
}

header ul {
  display: none;
}

nav {
  width: 100%;
  text-align: center;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-check:checked ~ ul {
  display: flex;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}

.nav-label {
  position: absolute;
  top: 26px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  width: 23px;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -10em;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  width: 23px;
}

.nav-label img {
  display: flex;
  width: 100%;
}

ul {
  width: 100%;
  align-items: flex-end;
}

.banner a {
  text-decoration: none;
  color: #dfebee;
}

.banner {
  color: #fff;
  overflow: hidden;
  max-height: 30em;
  }

.banner h2 {
  color: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: .375em 1em .42em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font: inherit;
  text-decoration: none;
}

.btn-ghost {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-ghost:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
}
.card img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.card {
  background-color: #dfebee;
  color: #000;
  border-radius: 10px;
  max-width: 15em;
  max-height: 15em;
}

ol {
  max-width: 55em;
  margin: auto;
}

.form {
  background-color: #81B1BA;
}

.form h1 {
  color: #056577
}

.form p {
  color: #fff;
}

.application {
  background-color: #fff;
  border-radius: 15px;
}

input,
textarea, select {
  display: block;
  width: 100%;
  background-color: #dfebee;
  border: none;
  border-radius: 10px;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-top: 2px solid #056577;
  color: #056577;
}

.form .btn {
  background-color: #056577;
}

.form .btn:hover {
  background-color: #81b1b1;
  border: none;
}

@media only screen and (min-width: 38em) {

  .nav-check,
  .nav-label {
    display: none;
    width: 0;
  }

  nav ul {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
  }
